<div class="container">
  <div class="inner-header-pc">
    <div class="logo-page">
      <a href="#/inicio"><h1>ABRAHAM LEANDRO</h1></a>
    </div>

    <nav class="menu" id="menuPc">
      <a href="#/inicio" class="active-nav">Home</a>
      <a href="#/proyectos">Proyectos</a>
      <a href="#/cv">Mi CV</a>
      <a href="#/contacto">Contacto</a>
      <div class="indicator"></div>
    </nav>
  </div>

  <div class="inner-header-mobile">
    <div class="logo-page">
      <a href="#/inicio"><h1>ABRAHAM LEANDRO</h1></a>
    </div>
    <div class="burger-menu" id="burgerMenu">
      <i class="fa-solid fa-bars" id="iconMenu"> </i>
    </div>
    <div class="slide-menu" id="slideMenu">
      <nav class="menu">
        <a href="#/inicio">Home</a>
        <a href="#/proyectos">Proyectos</a>
        <a href="#/cv">Mi CV</a>
        <a href="#/contacto">Contacto</a>
      </nav>
    </div>
  </div>
</div>
