<div class="container about-me">
  <div class="photo">
    <div class="my-photo">
      <img src="/img/iam.webp" alt="Imagen de Abraham" />
    </div>
    <div class="social-media">
      <a href="#"> <i class="fa-brands fa-linkedin" title="LinkedIn"></i> </a>
      <a href="#" title="Github"> <i class="fa-brands fa-square-github"></i> </a>
    </div>
  </div>
  <div class="personal-date">
    <div class="my-description">
      <h2>Junior Full-Stack JavaScript Developer</h2>
      <p>!Hola¡, Mi nombre es Abraham y me apasiona el desarrollo web Frontend y Backend. En 2019 comencé a estudiar <b>Desarrollo de Sistemas de Información</b> en el Instituto Continental - Huancayo, Perú.</p>
    </div>
    <div class="contact-me">
      <a class="custom-btn" href="mailto:leandrovegaabraham@gmail.com" title="Enviar correo electrónico">Contáctame<i class="fa-solid fa-envelope"></i></a>
      <a class="custom-btn" href="/img/iam.webp" download="abraham-cv" title="Mi curriculum vitae">Descargar CV<i class="fa-solid fa-download"></i></a>
    </div>
  </div>
</div>
<div class="projects">
  <div class="container">
    <h2>Proyectos destacados</h2>

    <div class="project-content">
      <div class="card-description">
        <div class="card-project">
          <img src="/img/project.webp" alt="Mi proyecto web ds" />
        </div>
        <div class="text-description">
          <h3>DSS Ecommerce</h3>
          <p>Tienda virtual con carrito de compras, distintos métodos de pago, registro de cliente y pedidos.</p>
        </div>
        <div class="card-project-links">
          <div class="project-link">
            <a class="custom-btn" href="#" title="Código fuente"><i class="fa-brands fa-square-github"></i>Código</a>
          </div>
          <div class="project-link">
            <a class="custom-btn" href="#" title="Sitio web"><i class="fa-solid fa-arrow-up-right-from-square"></i>Visitar</a>
          </div>
        </div>
      </div>
      <div class="card-logo">
        <h3>Tecnologías utilizadas:</h3>
        <div class="section-btn-logo">
          <div class="project-technologies" id="logosClientDss"></div>
          <!-- <div class="card-project-links">
            <div class="project-link">
              <a class="custom-btn" href="#" title="Código fuente"><i class="fa-brands fa-square-github"></i>Código</a>             
            </div>
            <div class="project-link">
              <a class="custom-btn" href="#" title="Sitio web"><i class="fa-solid fa-arrow-up-right-from-square"></i>Visitar</a>              
            </div>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</div>
